.firstPart {
    color: #F65261;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.secondPart {
    color: #F65261;
}

.NetflixRoulette {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}